@import "tailwindcss";
@plugin "daisyui";

.icon-style {
  @apply w-10 h-10 rounded-full bg-gray-900 border border-gray-800 flex items-center justify-center hover:bg-gray-700 hover:text-white hover:border-gray-400 hover:-translate-y-1 transition-all duration-300;
}

.form-style {
  @apply w-full bg-gray-800/50 border border-gray-700 rounded-xl px-4 py-3 focus:outline-none focus:border-blue-500 transition-all;
}

.global-btn {
  @apply flex text-center justify-center items-center gap-2 px-8 py-3 bg-linear-to-r from-blue-600 to-purple-600 rounded-full font-bold hover:shadow-[0_0_20px_rgba(147,51,234,0.5)] transition-all cursor-pointer;
}

.outline-btn {
  @apply flex text-center justify-center items-center gap-2 px-8 py-3 border border-white/20 rounded-full font-bold hover:bg-white/10 transition-all cursor-pointer;
}

html {
  scroll-behavior: smooth;
}

.tagesschrift {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
